{% load static %}


<!DOCTYPE html>
<html lang="en">
 <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <!--^======= Favicons ======= -->
    <link href="{% static 'images/Logo.jpg.png' %}" rel="icon" />
    <link href="{% static 'imgs/apple-touch-icon.png' %}" rel="apple-touch-icon" />
    
    <!--^======= Vendor CSS Files ======= -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/countup.js/2.0.8/countUp.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/all.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" referrerpolicy="no-referrer" />

    
    <!--^======= Main CSS File ======= -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    
    <title>Products-ALHANAA</title>
</head>
  <body data-bs-spy="scroll" data-bs-target="#navbar" tabindex="0">
    <!-- ?======================= START NAVBAR ====================== -->
    <nav id="navbar" class="navbar navbar-expand-lg  navbar-dark fixed-top">
      <div class="container ">
          <a class="navbar-brand fs-3 logo" href="{% url 'index' %}">AL-HANAA</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
              aria-label="Toggle navigation">
              <i class="fa-solid fa-bars nav-icon btn__menu__open"></i>
              <i class="fa-solid fa-xmark nav-icon btn__menu__close"></i>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ms-auto mb-2 mb-lg-0 text-uppercase">
                  <li class="nav-item ">
                      <a class="nav-link p-0 " aria-current="page" href="{% url 'index' %}">Home</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link p-0" href="{% url 'about' %}">About</a>
                  </li>
                  <li class="nav-item ">
                      <a class="nav-link p-0" href="{% url 'index' %}#Collection" target="_self">Collection</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link p-0 active" href="{% url 'products' %}" target="_blank">Products</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link p-0" href="{% url 'contact' %}">Contact</a>
                  </li>
              </ul>
          </div>
      </div>
  </nav>    
  <!-- ?======================= START Products ====================== -->
  <section class="products">
    <div class="bgOfPage  d-flex align-items-center justify-content-center">
     <h2>Products  </h2> 
   </div> 
   <div class="container mt-5">
    <div class="my-accordin mt-5 mb-5">
      <h2>Our Products</h2>
    </div>
   <div class="accordion" id="accordionPanelsStayOpenExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingOne">
        <button class="accordion-button product-accbtn " type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
          Availability Map
        </button>
      </h2>
      <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse " aria-labelledby="panelsStayOpen-headingOne">
        <div class="accordion-body">
          <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
        </div>
        <div class="row">
        <div class="">
          <table class="table table-light table-striped table table-bordered">
            <tr class="table-success ">
                <td class="text-center">Product</td>
                <td class="text-center">Jan</td>
                <td class="text-center">Feb</td>
                <td class="text-center">Mar</td>
                <td class="text-center">Apr</td>
                <td class="text-center">May</td>
                <td class="text-center">Jun</td>
                <td class="text-center">Jul</td>
                <td class="text-center">Aug</td>
                <td class="text-center">Sep</td>
                <td class="text-center">Oct</td>
                <td class="text-center">Nov</td>
                <td class="text-center">Dec</td>
                <td class="text-center">Status</td>
            </tr>
            <tr>
              <td class="text-center">Pinapple</td>
              <td class="text-center"><img src="{% static 'images/orange_11974688.png' %}" alt=""></td>
                <td class="text-center"></td>
                <td class="text-center"></td>
                <td class="text-center"></td>
                <td class="text-center"></td>
                <td class="text-center"></td>
                <td class="text-center"></td>
                <td class="text-center"></td>
                <td class="text-center"></td>
                <td class="text-center"></td>
                <td class="text-center"></td>
                <td class="text-center"><img src="{% static 'images/orange_11974688.png' %}" alt=""></td>
                <td class="text-center">Available</td>
                </tr>
                <tr>
                  <td class="text-center">Fremont</td>
                  <td class="text-center"><img src="{% static 'images/mandarin_1704398.png' %}" alt=""></td>
                    <td class="text-center"></td>
                    <td class="text-center"></td>
                    <td class="text-center"></td>
                    <td class="text-center"></td>
                    <td class="text-center"></td>
                    <td class="text-center"></td>
                    <td class="text-center"></td>
                    <td class="text-center"></td>
                    <td class="text-center"></td>
                    <td class="text-center"></td>
                    <td class="text-center"><img src="{% static 'images/mandarin_1704398.png' %}" alt=""></td>
                    <td class="text-center">Available</td>
                    </tr>
                    <tr>
                      <td class="text-center">Grapefruit</td>
                      <td class="text-center"><img src="{% static 'images/grapefruit_3523482.png' %}" alt=""></td>
                      <td class="text-center"><img src="{% static 'images/grapefruit_3523482.png' %}" alt=""></td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td class="text-center">Available</td>
                        </tr>
                        <td class="text-center">Grapes</td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td class="text-center"><img src="{% static 'images/fruit_15613022.png' %}" alt=""></td>
                        <td class="text-center"><img src="{% static 'images/fruit_15613022.png' %}" alt=""></td>
                        <td class="text-center"><img src="{% static 'images/fruit_15613022.png' %}" alt=""></td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td class="text-center">Available</td>
                          </tr>
                        </tr>
                        <td class="text-center">Barhi Dates</td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td class="text-center"><img src="{% static 'images/datess.png' %}" alt=""></td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td class="text-center">Available</td>
                        </tr>
                      </tr>
                      <td class="text-center">Mejol Dates</td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center"><img src="{% static 'images/datess.png' %}" alt=""></td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center">Available</td>
                      </tr>
                    </tr>
                    <td class="text-center">Mango</td>
                    <td class="text-center"></td>
                    <td class="text-center"></td>
                    <td class="text-center"></td>
                    <td class="text-center"></td>
                    <td class="text-center"></td>
                    <td class="text-center"></td>
                    <td class="text-center"><img src="{% static 'images/mango_680967.png' %}" alt=""></td>
                    <td class="text-center"><img src="{% static 'images/mango_680967.png' %}" alt=""></td>
                    <td class="text-center"></td>
                    <td class="text-center"></td>
                    <td class="text-center"></td>
                    <td class="text-center"></td>
                   <td class="text-center">Available</td>
                  </tr>
                </tr>
                <td class="text-center">Olive</td>
                <td class="text-center"></td>
                <td class="text-center"></td>
                <td class="text-center"></td>
                <td class="text-center"></td>
                <td class="text-center"></td>
                <td class="text-center"></td>
                <td class="text-center"></td>
                <td class="text-center"><img src="{% static 'images/olive_11159096.png' %}" alt=""></td>
                <td class="text-center"><img src="{% static 'images/olive_11159096.png' %}" alt=""></td>
                <td class="text-center"></td>
                <td class="text-center"></td>
                <td class="text-center"></td>
                <td class="text-center">Available</td>
                </tr>
      </table>
        </div>
      </div>
      </div>
    </div>
    <div class="Ornage " id="orang">
    <div class="my-accordin mt-5 mb-5">
      <h1>Orange</h1>
    </div>
    <div class="accordion-item ">
      <h2 class="accordion-header" id="panelsStayOpen-headingTwo">

        <button class="accordion-button collapsed accordion-btn-bg ornage-accbtn" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
          Pinapple
        </button>
      </h2>
      <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
        <div class="accordion-body">
          <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
        </div>
      </div>
    </div>
  </div>
    <div class="Mandarin mind-accbtn " id="mandarin">
      <div class="my-accordin mt-5 mb-5">
        <h1>Mandarin</h1>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingOne">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
            Fremont
          </button>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion body.</div>
        </div>
      </div>
    </div>
    <div class="Grapes grape-accbtn " id="grapes">
      <div class="my-accordin mt-5 mb-5">
        <h1>Grapes</h1>
      </div>
      <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
              Early Sweet 
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Flame
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              Banati
            </button>
          </h2>
          <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>  
</div>
</section>

    <!-- ?======================= START FOOTER ====================== -->
    <footer class="footer">
        <div class="container">
            <div class="footer-content">
                <div class="footer-section">
                    <h4>About AL-HANAA</h4>
                    <p>Founded in 2010, AL-HANAA is dedicated to agricultural development and providing high-quality fresh products to clients worldwide.</p>
                    <div class="social-icons">
                        <a href="https://www.facebook.com/profile.php?id=100064835928360" target="_blank"><i class="fa-brands fa-facebook"></i></a>
                        <a href="#"><i class="fa-brands fa-twitter"></i></a>
                        <a href="#"><i class="fa-brands fa-instagram"></i></a>
                        <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                    </div>
                </div>
                
                <div class="footer-section">
                    <h4>Quick Links</h4>
                    <ul class="footer-links">
                        <li><a href="#">Home</a></li>
                        <li><a href="{% url 'about' %}">About</a></li>
                        <li><a href="#Collection">Collection</a></li>
                        <li><a href="{% url 'products' %}">Products</a></li>
                        <li><a href="{% url 'contact' %}">Contact</a></li>
                    </ul>
                </div>
                
                <div class="footer-section">
                    <h4>Contact Info</h4>
                    <ul class="footer-links">
                        <li><i class="fa-solid fa-phone me-2"></i> +201093395073</li>
                        <li><i class="fa-solid fa-fax me-2"></i> +201093395073</li>
                        <li><i class="fa-solid fa-envelope me-2"></i> Info@alhanaagri.com</li>
                        <li><i class="fa-solid fa-location-dot me-2"></i> Egypt</li>
                    </ul>
                </div>
            </div>
            
            <div class="copyright__box">
                <p class="copyright">© Copyright-2025 <span class="fw-bold">ALHANAA</span>. All Rights Reserved</p>
            </div>
        </div>
    </footer>
    
    <!--^======= JS Files ======= -->
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>
